<?xml version="1.0" encoding="UTF-8"?>
<document xmlns="http://maven.apache.org/XDOC/2.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://maven.apache.org/XDOC/2.0 http://maven.apache.org/xsd/xdoc-2.0.xsd">
	<properties>
		<title>Submodules</title>
	</properties>
	<body>
	
		<section name="Submodules">
			
			<ul>
				<li>
					Commons - 
					<a href="http://josceleton.sf.net/documentation/commons/${version_josceleton_commons}/">
						http://josceleton.sf.net/documentation/commons/${version_josceleton_commons}/
					</a>
				</li>
				<li>
					Core API - 
					<a href="http://josceleton.sf.net/documentation/core-api/${version_josceleton_core-api}/">
						http://josceleton.sf.net/documentation/core-api/${version_josceleton_core-api}/
					</a>
				</li>
				<li>
					... etc ...
				</li>
				<!-- TODO @site complete listing -->
			</ul>
						
		</section>
		
	</body>
</document>

